/* Navbar styles */
.Navbar {
    background-color: #333;
    padding: 10px;
    color: white;
  }
  
  /* AllBooking styles */
  .booking-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .n{
    padding-top: 75px;
  }
  .booking-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 5px; /* Add some spacing between booking items */
  }
  
  .booking-item > div {
    flex: 1;
    padding: 5px; /* Adjust padding for better spacing */
  }
  
  .name {
    flex: 2; /* Double the width for Name column */
  }
  
  .booking-status {
    flex: 1.5; /* Adjust width for Booking Status column */
  }
  
  /* Conform and Reject button styles */
  .conform-button,
  .reject-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .conform-button:hover {
    background-color: #45a049;
  }
  
  .reject-button:hover {
    background-color: #f44336;
  }
  
  /* Add more styling as needed */
  